@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

:root {
  --header-height: 38px;
  --toolbar-height: 40px;
  --formula-height: 24px;
  --info-cell-width: 40px;
  --cell-width: 120px;
  --row-height: 24px;
  --db-header-height: 64px;
  --border-color: #c0c0c0;
  --primary-color: #3c74ff;
  --accent-green: #0F9D58;
  --second-green: #09c720;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}


/*--- Footer ---*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background: var(--border-color);
  color: #efefef;
  text-align: center;
  z-index: 100;
}

.footer__link {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: color 0.3s ease;
}
.footer__link:hover {
  color: var(--primary-color);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.modal__content {
  position: relative;
  min-width: 50%;
  min-height: 50%;
  max-width: 80%;
  max-height: 100vh;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  overflow-y: auto;
  z-index: 10;
}
.modal__head {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.moda__body {}
.modal__item {
  margin-bottom: 10px;
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 36px;
  border: 1px solid #777;
  border-radius: 50%;
  cursor: pointer;
}
.modal__show {
  visibility: visible;
  opacity: 1;
}
.modal__key {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  padding: 3px;
  border: 1px solid #999;
  border-radius: 3px;
  line-height: 15px;
  text-align: center;
  font-weight: bold;
  color: #999;
}

/*Not found page*/
.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.not-found__title {
  font-size: 36px;
}
.not-found__link {
  text-decoration: none;
  font-size: 24px;
  color: var(--primary-color);
}
.not-found__link:hover {
  opacity: 0.7;
}

/*Responsive*/
@media (max-width: 480px) {
  .modal__close {
    position: fixed;
  }
  .modal__content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .not-found__title {
    font-size: 24px;
  }
  .not-found__link {
    font-size: 16px;
  }
}
