.sheet {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  color: #888;
  font-size: .8rem;
}

.btn {
  position: relative;
  min-width: 24px;
  height: 24px;
  padding: 3px;
  display: inline-block;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  user-select: none;
}
.btn > i {
  font-size: 18px;
}
.btn:hover {
  background: #eee;
  cursor: pointer;
}

/*--- sheet header ---*/
.sheet__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 100;
}
.sheet__header-input {
  padding: 2px 7px;
  color: #333;
  border: 2px solid transparent;
  border-radius: 2px;
  height: 20px;
  font-size: 18px;
  line-height: 22px;
  outline: none;
}
.sheet__header-input:hover {
  border: 2px solid var(--border-color);
}
.sheet__header-input:focus {
  border: 2px solid var(--primary-color);
}
.sheet__header-btn:active,
.sheet__header-btn.active {
  color: red;
}

/*--- sheet toolbar ---*/
.sheet__toolbar {
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  display: flex;
  padding: 7px 10px;
  height: var(--toolbar-height);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: #fff;
  z-index: 100;
}
.toolbar__btn:active {
  color: var(--accent-green);
}

/*--- sheet formula ---*/
.sheet__formula {
  position: absolute;
  top: calc(var(--header-height) + var(--toolbar-height));
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: var(--formula-height);
  border-bottom: 1px solid var(--border-color);
  background-color: #fff;
  z-index: 100;
}
.formula__info {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  border-right: 1px solid var(--border-color);
  min-width: var(--info-cell-width);
}

.formula__input {
  flex-grow: 1;
  padding: 4px;
  font-size: 12px;
  outline: none;
  color: #000;
}

/*--- sheet table ---*/
.sheet__table {
  position: absolute;
  /*top: calc( var(--header-height) + var(--toolbar-height) + var(--formula-height) + var(--row-height) );*/
  top: calc( var(--header-height) + var(--toolbar-height) + var(--formula-height) );
  left: 0;
  right: 0;
  overflow-x: auto;
  padding-bottom: 20px;
  height: calc( 75vh - var(--header-height) + var(--toolbar-height) + var(--formula-height) );
}

.row {
  position: relative;
  display: flex;
  min-height: 20px;
  height: var(--row-height);
}
.row--fixed {
  position: sticky;
  top: 0;
  margin-bottom: 2px;
  background-color: #fff;
  z-index: 100;
}
.row-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--info-cell-width);
  height: 100%;
  border: 1px solid var(--border-color);
  background: #f8f9fa;
  border-top: none;
  user-select: none;
}
.row-data {
  display: flex;
}

.column {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  min-width: 40px;
  width: var(--cell-width);
  height: 100%;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  user-select: none;
}
.col-resize,
.row-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--primary-color);
  opacity: 0;
  z-index: 1000;
}
.col-resize {
  top: 0;
  width: 4px;
  cursor: col-resize;
}
.row-resize {
  left: 0;
  height: 4px;
  cursor: row-resize;
}
.col-resize:hover,
.row-resize:hover {
  opacity: 1!important;
}

.cell {
  padding: 5px;
  min-width: 40px;
  width: var(--cell-width);
  height: 100%;
  border-right: 1px solid #e2e3e3;
  border-bottom: 1px solid #e2e3e3;
  outline: none;
  white-space: nowrap;
  color: #111;
}

.selected {
  border: none;
  outline: 2px solid var(--primary-color);
  z-index: 2;
}