<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Description">
  <meta name="keywords" content="Some keywords">
  <!-- <meta name="og:image" content="social-img.jpg"> -->
  <title>Title</title>
  <link rel="shortcut icon" href="../main-project/favicon.png" type="image/x-icon">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" /> -->
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>The project title</h1>
    <p>description</p>
  </header>
  
  <div class="container"></div>

  <footer>
    <p>Created by <a href="https://github.com/voverg" rel="noopener noreferrer" target="_blank">Voverg</a></p>
  </footer>


  <script src="main.js"></script>
</body>
</html>