@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');

:root {
    --main-color: #777;
    --active-color: #e8fdf9;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: var(--main-color);
    font-weight: 400;
}

header {
    flex-shrink: 0;
    width: 100%;
    min-height: 10vh;
    padding: 10px;
    background-color: #97fdab;
    text-align: center;
}

.container {
    flex-grow: 1;
    width: 100%;
}

.tabs {
    display: flex;
    justify-content: space-around;
}

.tab {
    padding: 10px;
    flex-grow: 1;
    text-align: center;
    color: #999;
    cursor: pointer;
    background-color: #fff;
    transition: color 0.3s ease;
    border-bottom: 1px solid #333;
}
.tab:hover {
    color: #f39432;
}

.tab--active {
    color: #333;
    font-weight: bold;
    border-bottom: none;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.block {
    padding: 20px 30px;
}

.block__description {
    padding-bottom: 20px;
}

.block h2 {
    text-align: center;
}

.block p {
    color: var(--main-color);
    padding-top: 15px;
    font-size: 1.2rem;
    font-weight: 400;
}

.block input {
    min-height: 30px;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid #999;
    border-radius: 3px;
}

.block textarea {
    width: 100%;
    min-height: 20vh;
    border: 1px solid #999;
    border-radius: 3px;
    margin: 20px 0 0;
    padding: 5px;
}

.block__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

span.result {
    flex-grow: 1;
    display: block;
    padding: 5px 20px;
    text-align: left;
    color: orange;
    font-weight: 400;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #f39432;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #f9871b;
}

.finish-result {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, .4);
}

footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    background: #215249;
    color: #999;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    color: #eae38b;
}

.hidden {
    display: none;
}


@media (max-width: 720px) {
    .block {
        padding: 20px;
    }

    .block h2 {
        font-size: 1.2rem;
    }

    .block textarea {
        min-height: 10vh;
    }

    .block__result {
        flex-direction: column-reverse;
        padding: 5px 0;
    }

    .btn {
        padding: 10px 50px;
        font-size: 1.3rem;
    }

    span.result {
        padding: 10px;
    }

    .finish-result {
        width: 100%;
    }
}