@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

header {
    width: 100%;
    min-height: 10vh;
    padding: 10px;
    background-color: #97fdab;
    text-align: center;
}

.container {
    display: flex;
    width: 90vw;
    padding: 10px;
}

.back-img-1 {
    background: url('https://wallbox.ru/resize/800x480/wallpapers/main2/201741/150809076959e3a391dadf77.26922598.jpg');
}

.back-img-2 {
    background: url('http://img.desktopwallpapers.ru/animals/pics/1/1913-300.jpg');
}

.back-img-3 {
    background: url('https://f.vividscreen.info/soft/4f369b0722ff7011474fd274d34418c3/Puppy-with-leash-1024x768.jpg');
}

.back-img-4 {
    background: url('https://wallbox.ru/resize/800x480/wallpapers/main/201329/a6d390210813969.jpg');
}

.back-img-5 {
    background: url('https://static.365info.kz/uploads/2018/02/Snoubord-600x400.jpg');
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 50px;
    color: #eaec57;
    text-shadow: 2px 2px 5px #116512;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.5s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    background: #215249;
    color: #999;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    color: #eae38b;
}

@media (max-width: 480px) {
    ..container {
        width: 100vw;
    }

    .panel:nth-child(4),
    .panel:nth-child(5) {
        display: none;
    }
}
